.main {
  font-size: 1.6rem;
  left: 50%;
  margin: auto;
  max-width: 600px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo h1 {
  font-weight: 400;
}

.logo p {
  color: #2b2a2a;
}

.links {
  margin-top: 3rem;
}

.linkIcon {
  color: #090909;
  font-size: 5rem;

  transition: all 0.5s ease;
}

.link:hover .linkIcon {
  color: #E93D2F;
}
